[Desktop Entry]
Type=Application
Exec=kbackup %f
Icon=kbackup
X-DocPath=kbackup/index.html
MimeType=text/x-kbp;
Terminal=false
Categories=Qt;KDE;Utility;Archiving;

Name=KBackup
Name[ca]=KBackup
Name[ca@valencia]=KBackup
Name[de]=KBackup
Name[nl]=KBackup
Name[pt]=KBackup
Name[sv]=Kbackup
Name[uk]=KBackup
Name[x-test]=xxKBackupxx
GenericName=Backup Program
GenericName[ca]=Programa per a les còpies de seguretat
GenericName[ca@valencia]=Programa per a les còpies de seguretat
GenericName[de]=Sicherungs-Programm
GenericName[nl]=Programma voor maken van reservekopie
GenericName[pt]=Programa de Cópias de Segurança
GenericName[sv]=Säkerhetskopieringsprogram
GenericName[uk]=Програма для створення резервних копій
GenericName[x-test]=xxBackup Programxx
Comment=Backup your data with an easy to use user interface
Comment[ca]=Còpia de seguretat de les dades amb una interfície d'usuari fàcil d'usar
Comment[ca@valencia]=Còpia de seguretat de les dades amb una interfície d'usuari fàcil d'usar
Comment[de]=Sicherung Ihrer Daten mit einer einfach zu bedienenden grafischen Benutzeroberfläche
Comment[nl]=Maak een reservekopie van uw gegevens met een gemakkelijk te gebruiken gebruikersinterface
Comment[pt]=Salvaguarde os seus dados com uma interface de utilizador simples
Comment[sv]=Säkerhetskopiera data med ett lättanvänt användargränssnitt
Comment[uk]=Створюйте резервні копію ваших даних за допомогою простого у користуванні інтерфейсу
Comment[x-test]=xxBackup your data with an easy to use user interfacexx

