[Desktop Entry]
Type=Application
Exec=kbackup %f
Icon=kbackup
X-DocPath=kbackup/index.html
MimeType=text/x-kbp;
Terminal=false
Categories=Qt;KDE;Utility;Archiving;

Name=KBackup
Name[ca]=KBackup
Name[ca@valencia]=KBackup
Name[cs]=KBackup
Name[da]=KBackup
Name[de]=KBackup
Name[el]=KBackup
Name[en_GB]=KBackup
Name[es]=KBackup
Name[eu]=KBackup
Name[fi]=KBackup
Name[fr]=KBackup
Name[gl]=KBackup
Name[ia]=KBackup
Name[it]=KBackup
Name[ko]=KBackup
Name[nl]=KBackup
Name[nn]=KBackup
Name[pl]=KBackup
Name[pt]=KBackup
Name[pt_BR]=KBackup
Name[ru]=KBackup
Name[sk]=KBackup
Name[sv]=Kbackup
Name[uk]=KBackup
Name[x-test]=xxKBackupxx
Name[zh_CN]=KBackup
GenericName=Backup Program
GenericName[ca]=Programa per a les còpies de seguretat
GenericName[ca@valencia]=Programa per a les còpies de seguretat
GenericName[cs]=Program pro zálohování
GenericName[da]=Backup-program
GenericName[de]=Sicherungs-Programm
GenericName[el]=Πρόγραμμα δημιουργίας εφεδρικών αντιγράφων
GenericName[en_GB]=Backup Program
GenericName[es]=Aplicación de copias de seguridad
GenericName[eu]=Babes-kopia programa
GenericName[fi]=Varmuuskopiointiohjelma
GenericName[fr]=Programme de sauvegarde
GenericName[gl]=Programa de copias de seguranza
GenericName[ia]=Programma per  retrocopiar
GenericName[it]=Programma per il backup
GenericName[ko]=백업 프로그램
GenericName[nl]=Programma voor maken van reservekopie
GenericName[nn]=Program for reservekopiering
GenericName[pl]=Program kopii zapasowych
GenericName[pt]=Programa de Cópias de Segurança
GenericName[pt_BR]=Programa de backup
GenericName[ru]=Резервное копирование
GenericName[sk]=Zálohovací program
GenericName[sv]=Säkerhetskopieringsprogram
GenericName[uk]=Програма для створення резервних копій
GenericName[x-test]=xxBackup Programxx
GenericName[zh_CN]=备份程序
Comment=Backup your data with an easy to use user interface
Comment[ca]=Còpia de seguretat de les dades amb una interfície d'usuari fàcil d'usar
Comment[ca@valencia]=Còpia de seguretat de les dades amb una interfície d'usuari fàcil d'usar
Comment[da]=Tag backup af dine data med en brugergrænseflade der er nem at bruge
Comment[de]=Sicherung Ihrer Daten mit einer einfach zu bedienenden grafischen Benutzeroberfläche
Comment[el]=Δημιουργήστε εφεδρικά αντίγραφα των δεδομένων σας με ένα ευκολόχρηστο περιβάλλον χρήσης
Comment[en_GB]=Backup your data with an easy to use user interface
Comment[es]=Haga copias de seguridad de sus datos con una interfaz de usuario fácil de usar
Comment[eu]=Egin zure datuen babes-kopia erabiltzaile-interfaze erraz batekin
Comment[fi]=Varmista tietosi helppokäyttöisellä käyttöliittymällä
Comment[fr]=Sauvegardez vos données à l'aide d'une interface graphique simple d'utilisation
Comment[gl]=Faga unha copia de seguranza dos seus datos cunha interface de usuario fácil de usar.
Comment[ia]=Face retrocopia de tu datos con un interfacie de usator semplice
Comment[it]=Crea una copia di sicurezza dei dati con un'interfaccia utente semplice da usare
Comment[ko]=내 데이터 백업하기
Comment[nl]=Maak een reservekopie van uw gegevens met een gemakkelijk te gebruiken gebruikersinterface
Comment[nn]=Ta reservekopi av dataa dine på ein enkel måte
Comment[pl]=Utwórz kopię zapasową swoich danych w łatwym do użycia interfejsie
Comment[pt]=Salvaguarde os seus dados com uma interface de utilizador simples
Comment[pt_BR]=Faça cópias de segurança com uma interface gráfica fácil de usar
Comment[ru]=Приложение для резервного копирования с простым интерфейсом
Comment[sk]=Zálohujte vaše údaje s jednoduchým používateľským prostredím
Comment[sv]=Säkerhetskopiera data med ett lättanvänt användargränssnitt
Comment[uk]=Створюйте резервні копію ваших даних за допомогою простого у користуванні інтерфейсу
Comment[x-test]=xxBackup your data with an easy to use user interfacexx
Comment[zh_CN]=使用易用的用户界面备份数据

